body {
    margin: 30px auto;
    background: #21303b;
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

#container {
    /*stitching*/
    outline: 1px dashed #98abb9;
    outline-offset: -1px;

    background-color: #556068;
    height: fit-content;
    width: fit-content;
    margin: 20px;
    padding: 12px;
    text-align: center;
    /*shadow*/
    -webkit-box-shadow: 2px 2px 2px #000;
    -moz-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
}

input[type="submit"] {
    outline: none;
    text-transform: uppercase;
    background: #ffffff;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.addTask {
    margin-top: 12px;
    color: #20bf6b !important;
    border: 2px solid #20bf6b !important;
}

.addList {
    color: #33bdef !important;
    border: 2px solid #33bdef !important;
}

.removeList {
    color: #e4685d !important;
    border: 2px solid #e4685d !important;
}

.list {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 12px auto;
}

input[type="submit"]:hover {
    border-radius: 20px;
    border-color: #9ba892 !important;
    color: #9ba892 !important;
    transition: all 0.3s ease 0s;
}

.addTask:hover {
    color: #494949 !important;
}

.modify {
    display: flex;
    flex-direction: column;
}

.changeTodoStatus {
    margin-top: auto;
}

hr {
    border: none;
    background-color: #eae0c2;
    color: #eae0c2;
    height: 2px;
}

