<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>todo list</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<form th:object="${new_todo_list}" method="POST" action="/add-list">
    <table>
        <tr>
            <td><label>Enter a name for the new ToDo list</label></td>
            <td><label>
                <input type="text" th:field="*{name}"/>
            </label></td>
            <td><input class="addList" type="submit" value="Add list"/></td>
        </tr>

    </table>

</form>
<hr>
<div th:each="current_list : ${todo_lists}">
    <div class="list">
        <div id="container">
            <h2 th:text="${current_list.name}"></h2>
        </div>

        <table border="1">
            <tr>
                <td><label>Name</label></td>
                <td><label>Status</label></td>
            </tr>
            <th:block th:each="task : ${current_list.getToDoList()}">
                <tr>
                    <td th:text="${task.name}"></td>
                    <td th:bgcolor="${task.getBgColor()}">
                        <form method="POST" action="/change-status-task" style="margin: auto">
                            <input type="hidden" name="todo_id" th:value="${task.id}"/>
                            <input class="changeTodoStatus" type="submit" th:value="${task.isCompleted()}"/>
                        </form>
                    </td>
                </tr>
            </th:block>
        </table>
        <div class="modify">
            <form th:object="${task}" method="POST" action="/add-task">
                <table>
                    <tr>
                        <td><label>Name Task</label></td>
                        <td><label>
                            <input type="text" th:field="*{name}"/>
                        </label></td>
                        <td><input class="addTask" type="submit" value="Add task"/></td>
                    </tr>
                </table>

                <input type="hidden" name="list_id" th:value="${current_list.id}">

            </form>
            <form method="POST" action="/remove-list">
                <input type="hidden" name="list_id" th:value="${current_list.id}"/>
                <input class="removeList" type="submit" value="Remove todo list"/>
            </form>
        </div>
    </div>
    <hr>
</div>

</body>
</html>